*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todo__container{
  background-color: #FF8FB1;
  padding: 18px;
}

.todo__container .todo_input input{
  width: 80%;
  padding: 1rem;
}

.todo__container .todo_add_btn{
  width: 20%;
  padding: 1rem;
  background-color: #7A4495;
  outline: none;
  border: none;
}

.todo__container .todo_list{
}

.todo__container .todo_list {
  padding: 1rem;
  margin-top:16px;
}

.todo__container .todo_list .todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:4px;
  background-color: #FCE2DB;
  padding: 1rem;
}

.todo__container .todo_list .todo h1{
  font-size: 16px;
}
.todo__container .todo_list .todo .todo_cancel_btn{
  height: 20px;
  width: 20px;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}